<%- include("../partials/head") %>
<title>Scanner</title>
<%- include("../partials/navbar") %>
<%- include("../partials/header") %>
<%- include("../partials/content") %>
<%- include("../partials/footer") %>